<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Café Bahía: Experto en café</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="chat-container">
        <div class="chat-header">
            <img src="https://static.wixstatic.com/media/978c91_1c1911b9d26d4f888da1d423cab1298b~mv2.png/v1/fill/w_126,h_59,al_c,q_85,usm_0.66_1.00_0.01,enc_avif,quality_auto/Logo-MCT-Color.png" alt="Logo" class="logo">
        </div>

        <div class="welcome-message">
            <p>Bienvenido al asistente experto en cafe de <strong>Café Bahía</strong>. Pregúntame cualquier cosa sobre café para comenzar.</p>
        </div>

        <div class="options-container">
            <div class="option-box">¿Cómo influye la química del tostado en el sabor del café?</div>
            <div class="option-box">¿Qué factores son clave para un tostado perfecto?</div>
            <div class="option-box">¿Qué es el ROR o "Rate of Rise" en ingles??</div>
            <div class="option-box">¿Qué rol tiene el análisis sensorial en la calidad del café?</div>
        </div>

        <div id="chat-box"></div>
        <!-- Contenedor (vacío) donde reinsertaremos los conversation starters -->
        <div id="conversation-starters-bottom"></div>
        <div class="chat-input-container">
            <button id="feedback-button">Feedback</button>
            <button id="erase-button" onclick="eraseLastAndStop()">Borrar</button>
            <input type="text" id="user-input" placeholder="Escribe tu mensaje aquí..." onkeypress="checkEnter(event)">
            <button id="send-button" onclick="sendMessageStream()">Enviar</button>
        </div>
    </div>

        <!-- Cuadro modal para Feedback (invisible al inicio) -->
    <div id="feedback-modal" class="feedback-modal">
      <div class="feedback-modal-content">
        <h2>Feedback</h2>
        <p>
          Por favor, informe sobre todas las respuestas incorrectas o inexactas del asistente.
          Describa cuál es el problema y cómo esperaba que el asistente respondiera.
          ¡También se agradecen los comentarios positivos!
        </p>
        <textarea id="feedback-text" placeholder="Describa la situación aquí..."></textarea>
        <div class="feedback-modal-buttons">
          <button id="close-feedback">Cerrar</button>
          <button id="submit-feedback">Enviar reporte</button>
        </div>
      </div>
    </div>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>

